name: Gem Build and Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Gem / Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3', '3.4']

    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Run prettier
        run: npm ci && npm run lint
      - name: Run Rubocop
        run: bundle exec rubocop
      - name: Run tests
        run: bundle exec rspec

  release:
    name: Gem / Release
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: fac/ruby-gem-setup-credentials-action@v2
        with:
          user: ''
          key: rubygems
          token: ${{ secrets.RUBYGEMS_API_KEY }}
      - name: Build Gem
        run: bundle exec rake build
      - name: Release Gem
        if: github.ref == 'refs/heads/main'
        uses: fac/ruby-gem-push-action@v2
        with:
          key: rubygems
